/* ---------------PC--------------- */
@media screen and (min-width: 992px) {
  .mobile-header,
  .toggle-menu {
    display: none;
  }

  .show-on-mobile {
    display: none;
  }
}

/* ---------------Tablet and mobile--------------- */
@media screen and (max-width: 991.98px) {
  .tablet-content {
    max-width: calc(100% - 10px);
  }

  .logo {
    position: absolute;
    /* Căn giữa logo */
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .nav {
    position: relative;
  }

  .nav ul {
    display: none;
  }

  .toggle-menu svg {
    width: 24px;
    color: #666;
  }

  .menu-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease;
  }

  .menu-drawer {
    position: fixed;
    inset: 0 40% 0 0;
    background: #fff;
    z-index: 2;
    padding: 60px;
    transform: translateX(-100%);
    transition: 0.5s ease;
  }

  .menu-drawer ul {
    margin-top: 32px;
  }

  .menu-drawer ul a {
    display: block;
    padding: 14px 0;
    color: #333;
    font-weight: 500;
  }

  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }

  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }

  .separate {
    border-top: 1.5px solid #ebebeb;
  }

  .hero .body {
    flex-direction: column;
  }

  .hero .media-block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 24px;
  }

  .hero-summary {
    position: relative;
    top: 0;
  }

  .hero .content-block {
    padding: 64px 0;
    width: 100%;
  }

  .heading.lv1 {
    font-size: 4.8rem;
  }

  .heading.lv1,
  .hero .desc {
    margin: 0 auto;
    text-align: center;
  }

  .hero .desc {
    width: 90%;
    margin-top: 22px;
  }

  .hero .cta-group {
    width: 100%;
    justify-content: center;
    column-gap: 60px;
  }

  .hero .stats {
    margin-top: 40px;
  }

  .hero .stats strong:nth-child(2) {
    margin-left: 60px;
  }

  .popular .course-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .feedback-item {
    align-items: center;
  }

  .feedback-item .info {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .feedback-item .dots {
    justify-content: center;
  }

  .features .body {
    flex-direction: column-reverse;
  }

  .features .content {
    width: 100%;
  }

  .features .images {
    margin-top: 40px;
    justify-content: center;
  }

  .heading.lv2 {
    width: 100%;
  }

  .features .content .cta-btn {
    margin: 20px auto 0;
  }

  .features-2nd .images img {
    margin-top: 20px;
  }

  .logo-tablet {
    position: relative;
    display: block;
    top: 13px;
    left: 40px;
  }

  .footer {
    padding: 96px 96px 32px;
  }

  .footer .row {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 30px;
  }

  .footer .row .column {
    width: 100%;
  }

  .footer .row .column:first-child {
    grid-column: 1/3;
    width: 100%;
  }

  .footer .socials {
    margin-top: 20px;
  }

  .footer .desc {
    max-width: 100%;
  }

  .footer .column-contact {
    grid-column: 1/3;
    grid-row: 3/4;
  }
}

/* ---------------Tablet--------------- */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .show-on-mobile {
    display: none;
  }
}

/* ---------------Mobile--------------- */
@media screen and (max-width: 767.98px) {
  .hide-on-mobile {
    display: none;
  }

  .menu-drawer {
    inset: 0 25% 0 0;
    /* or inset: 0;
      rồi tạo thêm dấu x dùng label ấn cho nó đóng */
    padding: 40px;
  }

  .header .sign-up-btn {
    display: none;
  }

  .hero .media-block {
    flex-direction: column;
    row-gap: 30px;
  }

  .hero .media-block .img {
    width: 100%;
  }

  .hero .cta-group {
    flex-direction: column;
    row-gap: 30px;
  }

  .hero .watch-video {
    margin: 30px 0 0;
  }

  .hero .stats strong {
    padding: 0;
    font-size: 4.6rem;
  }

  .hero .stats {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .hero .stats strong:nth-child(2) {
    margin: 30px auto 0;
  }

  .popular {
    margin: 70px 0;
  }

  .popular-top {
    display: flex;
    flex-direction: column;
  }

  .popular-top .desc {
    width: 100%;
  }

  .popular-top .controls {
    display: none;
  }

  .view-all {
    margin-top: 30px;
    gap: 18px;
    display: flex;
    justify-content: flex-end;
  }

  .view-all .control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background: transparent;
  }

  .view-all .control-btn:hover {
    color: #fff;
    background: var(--primary-color);
    cursor: pointer;
  }

  .popular .course-list {
    grid-template-columns: 1fr;
  }

  .feedback-item .dots {
    display: none;
  }

  .dots-mobile {
    display: flex;
    justify-content: center;
    margin-top: 28px;
  }

  .dots-mobile .dot {
    margin-right: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    cursor: pointer;
  }

  .dots-mobile .dot.active {
    background: #ffb900;
    cursor: default;
  }

  .feedback-item {
    flex-direction: column;
    row-gap: 30px;
  }

  .feedback-item .content {
    width: 100%;
  }

  .feedback-item .content img {
    width: 20px;
    height: 18.67px;
  }

  .feedback-item blockquote {
    font-size: 2rem;
  }

  .features {
    margin-top: 70px;
    padding-top: 65px;
  }

  .features.features-2nd {
    /* margin: 0; */
    padding-top: 0;
  }

  .blog {
    margin-top: 70px;
    padding-top: 65px;
  }

  .blog .blog-top .desc {
    width: 100%;
  }

  .blog .blog-list {
    flex-direction: column;
  }

  .blog .item {
    width: 100%;
  }

  /* Chỉ hiển thị những blog thuộc 1 2 3 */
  .blog .item:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) {
    display: none;
  }

  .footer {
    padding: 60px 32px 0;
  }

  .footer .row {
    grid-template-columns: 1fr;
  }
}
